<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YDCircleProgress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0075ED881ECBF0FA00C5AD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0075EDA11ECBF0FB00C5AD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0075EDAC1ECBF0FB00C5AD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
